<div class="notification is-danger" *ngIf="this.errorMessage">
  <button class="delete" (click)="this.errorMessage = null"></button>
  <strong>{{this.errorMessage}}</strong>
</div>
<div *ngIf="displayListLobby()">
  <article class="post" *ngFor="let group of groups">
    <h4>{{group.name}}</h4>
    <div class="media">
      <div class="media-left">
      </div>
      <div class="media-content">
        <div class="content columns">
          <div class="column">
            <p><span class="tag">Jour Actuel: 9</span></p>
          </div>
          <div class="column">
            <p>{{group.server}}</p>
          </div>
          <div class="column">
            <p>Joueur Actuel</p>
          </div>
          <div class="column">
            <p>XP ou DROP</p>
          </div>
        </div>
      </div>
    </div>
    <button (click)="onJoinLobbySubmit(group.id)" type="button" class="button is-success">Rejoindre</button>
  </article>
</div>
