<h3 class="title is-centered">Création de groupe</h3>
<div class="box">
  <form [formGroup]="newGroupForm" (ngSubmit)="onNewGroupSubmit()">
    <div class="columns">
      <div class="column">
        <label class="label">Nom de Group</label>
        <p class="control"><input type="text" formControlName="name" class="input"></p>
      </div>
      <div class="column">
        <label class="label">Numbre min de joueur</label>
        <p class="control"><input type="number" formControlName="minp" min="2" max="8" class="input"></p>
      </div>
      <div class="column">
        <label class="label">Numbre max de joueur</label>
        <p class="control"><input type="number" formControlName="maxp" min="2" max="8" class="input"></p>
      </div>
      <div class="column">
        <label class="label">Niveau du perso</label>
        <p class="control"><input type="number" formControlName="levelp" min="0" max="200" class="input"></p>
      </div>
      <div class="column">
        <label class="label">Range accepté</label>
        <p class="control"><input type="number" formControlName="range" min="10" max="50" step="5" class="input"></p>
      </div>
      <div class="column">
        <label class="label">Liste des serveurs</label>
        <div class="field">
          <div class="control">
            <div class="select">
              <select formControlName="server">
                <option></option>
                <hr class="dropdown-divider">
                <option *ngFor="let server of servers" [value]="server">{{server}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <label class="label">Xp ou Drop</label>
        <div class="field">
          <div class="control">
            <div class="select">
              <select formControlName="fight_type">
                <option></option>
                <hr class="dropdown-divider">
                <option value="false">XP</option>
                <option value="true">DROP</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="button is-medium is-info is-outlined" [disabled]="!newGroupForm.valid">Create</button>
  </form>
  <br>
</div>
