<div class="box content">
 <article class="post">
    <h4>The Nooby Crew</h4>
    <div class="media">
      <div class="media-left">
      </div>
      <div class="media-content">
        <div class="content columns">
          <div class="column">
            <p><span class="tag">Jour Actuel: 9</span></p>
          </div>
          <div class="column">
            <p>Server</p>
          </div>
          <div class="column">
            <p>Joueur Actuel</p>
          </div>
          <div class="column">
            <p>XP ou DROP</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
