<h3 class="title">Liste de vos personnages actuels</h3>
<table class="table is-striped is-bordered is-hoverable">
  <thead>
    <tr>
      <th>Pseudo du personnage</th>
      <th>Serveur</th>
      <th>Classe</th>
      <th>Niveau</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td>{{character.pseudo}}</td>
      <td>{{character.server}}</td>
      <td>{{character.category}}</td>
      <td>{{character.level}}</td>
      <td><i class="fa fa-eraser has-text-info" aria-hidden="true" (click)="showUpdateCharacterModal(character)"></i></td>
      <td><i class="fa fa-trash-o has-text-danger" aria-hidden="true" (click)="onDeleteCharacterSubmit(character)"></i></td>
    </tr>
  </tbody>
</table>

<div class="modal {{showModal}}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="control">
      <form [formGroup]="updateLevelCharacterForm" (ngSubmit)="onUpdateCharacterSubmit()">
        <input class="input is-hovered" type="number" formControlName="level" placeholder="Nouveau niveau du personnage" min="0" max="200">
        <button class="button is-medium is-link" [disabled]="!updateLevelCharacterForm.valid">Mettre à jour</button>
      </form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="this.toggleForm()"></button>
</div>
