<div class="hero-body">
  <div class="columns is-mobile is-desktop is-centered">
    <div class="column is-one-third">
      <h1 class="avatar has-text-centered section">
        <img src="#" hidden="" style="display: none !important;">
      </h1>
      <div class="login-form">
        <app-email-input></app-email-input>
        <app-password-input></app-password-input>
        <p class="control login">
          <button class="button is-success is-outlined is-large is-fullwidth">Login</button>
        </p>
      </div>
      <div class="section forgot-password">
        <p class="has-text-centered">
          <a href="#">Forgot password</a>
        </p>
      </div>
    </div>
  </div>
</div>
