<nav class="navbar has-shadow is-light" id="top">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="/">
          <img src="" alt="MonoTeam">
        </a>
      </div>
      <!-- <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span> -->
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab">Profile</a>
        <a class="nav-item is-tab">Stats</a>
        <span class="nav-item">
          <a class="button" [routerLink]="['/']">Log in</a>
          <a class="button is-info" [routerLink]="['/register']">Sign up</a>
        </span>
      </div>
    </div>
  </nav>
